<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxrs-client="http://cxf.apache.org/jaxrs-client"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://cxf.apache.org/jaxrs-client http://cxf.apache.org/schemas/jaxrs-client.xsd">

    <mvc:annotation-driven/>
    <context:component-scan base-package="com.cocco.bootcamp.controller" />
    <context:annotation-config/>
    <context:component-scan base-package="com.cocco.bootcamp.proxy"/>
    <context:component-scan base-package="com.cocco.bootcamp.ws"/>

    <!-- Read the property values from application.properties -->
    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="poolName" value="springHikariCP" />
        <property name="connectionTestQuery" value="SELECT 1" />
        <property name="dataSourceClassName" value="${db.driver}"/>
        <property name="dataSourceProperties">
            <props>
                <prop key="url">${db.url}</prop>
                <prop key="user">${db.username}</prop>
                <prop key="password">${db.password}</prop>
            </props>
        </property>
    </bean>
    <!-- Configure the data source bean -->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg ref="hikariConfig"/>
    </bean>

    <!-- Create default configuration for Hibernate -->
    <bean id="hibernateJpaVendorAdapter"
          class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

    <!-- Configure the entity manager factory bean -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter"/>
        <!-- Set the base package of your model classes -->
        <property name="packagesToScan" value="com.cocco.bootcamp.domain"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <prop key="hibernate.ejb.naming_strategy">${hibernate.naming_strategy}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
            </props>
        </property>
    </bean>

    <!-- Configure the transaction manager bean -->
    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- Enable @Transactional annotations -->
    <tx:annotation-driven/>

    <!--
      Configure Spring Data JPA and set the base package of the
      repository interfaces
    -->
    <jpa:repositories base-package="com.cocco.bootcamp.repository"/>

    <jaxrs-client:client id="countriesAndStates"
                         serviceClass="com.cocco.bootcamp.ws.CountriesAndStates"
                         address="http://services.groupkt.com"
                         inheritHeaders="true">
        <jaxrs-client:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs-client:providers>
        <jaxrs-client:headers>
            <entry key="Accept" value="application/json"/>
        </jaxrs-client:headers>
    </jaxrs-client:client>

    <jaxrs-client:client id="weatherFromClient"
                         serviceClass="com.cocco.bootcamp.ws.WeatherFromClient"
                         address="https://query.yahooapis.com/v1/public"
                         inheritHeaders="true">
        <jaxrs-client:providers>
            <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>
        </jaxrs-client:providers>
        <jaxrs-client:headers>
            <entry key="Accept" value="application/json"/>
        </jaxrs-client:headers>
    </jaxrs-client:client>

</beans>